@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/raleway-regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/raleway-bold.ttf");
}

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}
